[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asn1crypto = "==1.5.1"
blinker = "==1.7.0"
certifi = "==2024.2.2"
cffi = "==1.16.0"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
colorama = "==0.4.6"
cryptography = "==41.0.7"
filelock = "==3.13.1"
flask = "==3.0.2"
greenlet = "==3.0.3"
idna = "==3.6"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.3"
markupsafe = "==2.1.5"
packaging = "==23.2"
platformdirs = "==3.11.0"
pycparser = "==2.21"
pyjwt = "==2.8.0"
pyopenssl = "==23.3.0"
python-dotenv = "==1.0.1"
pytz = "==2024.1"
requests = "==2.31.0"
snowflake-connector-python = "==3.7.0"
snowflake-sqlalchemy = "==1.5.1"
sortedcontainers = "==2.4.0"
sqlalchemy = "==1.4.51"
tomlkit = "==0.12.3"
typing-extensions = "==4.9.0"
urllib3 = "==2.2.0"
werkzeug = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
